name: Acquire activation file 
on: 
  workflow_dispatch: {} 
jobs:
  activation:
    name: Request manual activation file
    runs-on: ubuntu-latest
    steps:
    - name: Request manual activation file # Licenceを要求する部分
      id: getManualLicenseFile
      uses: game-ci/unity-request-activation-file@v4
    - name: Expose as artifact #取得した.alfファイルをアップロードする部分
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.getManualLicenseFile.outputs.filePath }}
        path: ${{ steps.getManualLicenseFile.outputs.filePath }}
